<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DuckyGo-MVC Index</title>
    <style>

        .box {
            text-align: center;
        }

        .Welcome {
            font-size: 30px;
        }

        .github {
            font-size: 10px;
        }
    </style>
</head>
<body>
<header class="box">
    <span class="Welcome">{{ msg }}</span>
    <br>
    <span class="github">
        <a href="{{ url }}" target="_blank">{{ url }}</a>
    </span>
</header>
</body>
</html>